In [17]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import sklearn.linear_model
import sklearn.model_selection
import sklearn.preprocessing
import scipy.integrate
import sklearn.discriminant_analysis
import sklearn.ensemble
import sklearn.tree
import itertools
import sklearn.tree
import sklearn.metrics

In [2]:
data=pd.read_csv('multipleChoiceResponses.csv')
data=data.drop(data.index[0])

/home/nicomn97/.local/lib/python3.6/site-packages/IPython/core/interactiveshell.py:3018: DtypeWarning: Columns (0,2,8,10,21,23,24,25,26,27,28,44,56,64,83,85,87,107,109,123,125,150,157,172,174,194,210,218,219,223,246,249,262,264,276,277,278,279,280,281,282,283,284,285,286,287,288,289,290,304,306,325,326,329,341,368,371,384,385,389,390,391,393,394) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

# Los programadores recomiendan leguajes de programación

Con la información recolectada por Kaggle en su encuesta anual a los usuarios de su plataforma, y limitando el análisis de dicho conjunto a las preguntas 1 (género), 2 (edad), 3 (pais de residencia), 4 (educación), 5 (título de pregrado), 8 (años de experiencia programando), 9 (compensación anual), 17 (lenguaje de programación predilecto), 18 (lenguaje de programación que recomendarían a un principiante) y 48 (si consideran que los algoritmos de ML son como cajas negras o no), se presenta información relativa a los lenguajes de programación que recomiendan los programadores, y se buscan relaciones entre el perfil de cada encuestado y el lenguaje que recomiendan.

In [3]:
df1=pd.DataFrame()
df2=pd.DataFrame()
df3=pd.DataFrame()
df4=pd.DataFrame()
df5=pd.DataFrame()
df8=pd.DataFrame()
df9=pd.DataFrame()
df17=pd.DataFrame()
df48=pd.DataFrame()

In [4]:
dataFrames=[df1,df2,df3,df4,df5,df8,df9,df17,df48]
preg=['Q1','Q2','Q3','Q4','Q5','Q8','Q9','Q17','Q48']
k=0
for j in dataFrames:
    j['Recomendation'] = pd.Series(data['Q18'].unique())
    for i in data[preg[k]].value_counts().index:
        j[i] = pd.Series()    
    x = 0
    for progs in j['Recomendation']:  
        result = data.loc[data['Q18'] == progs][preg[k]].value_counts()
        for index in result.index:
            j.loc[j[index].index == x, index] = result[index]
        x = x + 1
    j=j[j.Recomendation != 0]
    k=k+1

## Tablas:

A continuación se presentan una serie de tablas en las que se puede apreciar características particulares de los encuestados, y el programa que recomiendan.

### Tabla 1: Lenguaje recomendado y género

In [5]:
dataFrames[0]=dataFrames[0].fillna(0)
dataFrames[0]=dataFrames[0][dataFrames[0].Recomendation != 0]
dataFrames[0]

   Recomendation     Male  Female  Prefer not to say  Prefer to self-describe
0         Python  11900.0  2089.0              151.0                     41.0
1            SQL    696.0   203.0               15.0                      0.0
2              R   1828.0   484.0               23.0                      7.0
3          Other    123.0    28.0                6.0                      4.0
4          Scala     63.0    10.0                1.0                      0.0
5           None     99.0    23.0                8.0                      2.0
6           Java    138.0    40.0                6.0                      0.0
7         MATLAB    204.0    45.0                4.0                      3.0
8            C++    259.0    70.0                7.0                      3.0
10           SAS     42.0    27.0                0.0                      0.0
11    Javascript     60.0     8.0                3.0                      1.0
12            Go     25.0     1.0                0.0                      0.0
13           VBA     31.0     5.0                1.0                      1.0

### Tabla 2: Lenguaje recomendado y edad

In [6]:
dataFrames[1]=dataFrames[1].fillna(0)
dataFrames[1]=dataFrames[1][dataFrames[1].Recomendation != 0]
dataFrames[1]

,Recomendation,25-29,22-24,30-34,18-21,35-39,40-44,45-49,50-54,55-59,60-69,70-79,80+
0,Python,3811.0,2963.0,2343.0,1533.0,1396.0,842.0,537.0,339.0,202.0,179.0,27.0,9.0
1,SQL,260.0,141.0,206.0,48.0,109.0,63.0,28.0,32.0,11.0,13.0,2.0,1.0
2,R,576.0,411.0,414.0,166.0,264.0,189.0,128.0,92.0,54.0,33.0,12.0,3.0
3,Other,36.0,23.0,30.0,16.0,12.0,8.0,14.0,9.0,3.0,7.0,0.0,3.0
4,Scala,21.0,8.0,16.0,0.0,11.0,3.0,4.0,5.0,3.0,3.0,0.0,0.0
5,None,22.0,21.0,15.0,21.0,17.0,3.0,12.0,8.0,4.0,5.0,0.0,4.0
6,Java,44.0,38.0,27.0,41.0,15.0,8.0,4.0,3.0,3.0,1.0,0.0,0.0
7,MATLAB,68.0,52.0,33.0,41.0,23.0,11.0,9.0,9.0,5.0,5.0,0.0,0.0
8,C++,73.0,103.0,27.0,75.0,24.0,22.0,2.0,4.0,2.0,4.0,3.0,0.0
10,SAS,12.0,11.0,13.0,4.0,12.0,10.0,2.0,3.0,0.0,1.0,0.0,1.0
11,Javascript,10.0,14.0,11.0,10.0,7.0,6.0,6.0,5.0,2.0,1.0,0.0,0.0
12,Go,6.0,5.0,4.0,2.0,4.0,4.0,1.0,0.0,0.0,0.0,0.0,0.0
13,VBA,8.0,9.0,9.0,2.0,2.0,1.0,0.0,4.0,0.0,2.0,0.0,1.0

### Tabla 3: Lenguaje recomendado y país de residencia

In [7]:
dataFrames[2]=dataFrames[2].fillna(0)
dataFrames[2]=dataFrames[2][dataFrames[2].Recomendation != 0]
dataFrames[2]

,Recomendation,United States of America,India,China,Other,Russia,Brazil,Germany,United Kingdom of Great Britain and Northern Ireland,France,...,Chile,Hong Kong (S.A.R.),Norway,Tunisia,Philippines,Thailand,Czech Republic,Republic of Korea,Morocco,Austria
0,Python,2783.0,2576.0,904.0,579.0,592.0,466.0,465.0,454.0,367.0,...,37.0,39.0,49.0,35.0,42.0,47.0,43.0,37.0,37.0,30.0
1,SQL,294.0,144.0,40.0,42.0,23.0,17.0,19.0,31.0,8.0,...,6.0,3.0,2.0,1.0,4.0,5.0,6.0,1.0,2.0,1.0
2,R,523.0,425.0,60.0,121.0,28.0,78.0,65.0,78.0,59.0,...,15.0,5.0,8.0,9.0,16.0,7.0,7.0,7.0,7.0,9.0
3,Other,50.0,17.0,12.0,11.0,6.0,0.0,7.0,5.0,8.0,...,0.0,1.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0
4,Scala,14.0,17.0,6.0,3.0,0.0,1.0,1.0,4.0,4.0,...,1.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,2.0,0.0
5,None,32.0,14.0,7.0,9.0,6.0,4.0,4.0,3.0,2.0,...,1.0,1.0,0.0,0.0,2.0,0.0,1.0,0.0,0.0,1.0
6,Java,39.0,42.0,21.0,8.0,5.0,2.0,4.0,3.0,1.0,...,3.0,1.0,1.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0
7,MATLAB,36.0,39.0,46.0,11.0,5.0,4.0,12.0,1.0,6.0,...,0.0,3.0,0.0,1.0,1.0,0.0,1.0,0.0,1.0,0.0
8,C++,42.0,71.0,54.0,16.0,16.0,8.0,9.0,2.0,8.0,...,0.0,2.0,1.0,0.0,0.0,1.0,1.0,1.0,1.0,0.0
10,SAS,23.0,20.0,1.0,4.0,2.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0
11,Javascript,16.0,10.0,4.0,11.0,1.0,1.0,2.0,2.0,2.0,...,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0
12,Go,3.0,4.0,3.0,0.0,2.0,2.0,0.0,2.0,2.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
13,VBA,11.0,1.0,2.0,3.0,2.0,1.0,0.0,4.0,1.0,...,0.0,1.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0

### Tabla 4: Lenguaje recomendado y título educativo

In [8]:
dataFrames[3]=dataFrames[3].fillna(0)
dataFrames[3]=dataFrames[3][dataFrames[3].Recomendation != 0]
dataFrames[3]

,Recomendation,Master’s degree,Bachelor’s degree,Doctoral degree,Some college/university study without earning a bachelor’s degree,Professional degree,I prefer not to answer,No formal education past high school
0,Python,6582.0,4270.0,2200.0,516.0,371.0,153.0,89.0
1,SQL,477.0,297.0,66.0,34.0,23.0,8.0,9.0
2,R,1200.0,558.0,418.0,67.0,68.0,22.0,9.0
3,Other,59.0,50.0,30.0,8.0,6.0,6.0,2.0
4,Scala,35.0,14.0,12.0,3.0,7.0,2.0,1.0
5,None,53.0,40.0,19.0,11.0,1.0,8.0,0.0
6,Java,85.0,63.0,15.0,13.0,5.0,3.0,0.0
7,MATLAB,101.0,77.0,60.0,9.0,4.0,3.0,2.0
8,C++,143.0,98.0,55.0,26.0,12.0,4.0,1.0
10,SAS,38.0,12.0,8.0,1.0,6.0,2.0,2.0
11,Javascript,22.0,29.0,8.0,5.0,6.0,2.0,0.0
12,Go,7.0,12.0,1.0,3.0,0.0,2.0,1.0
13,VBA,21.0,7.0,3.0,2.0,4.0,0.0,1.0

### Tabla 5: Lenguaje recomendado y area de estudios de pregrado

In [9]:
dataFrames[4]=dataFrames[4].fillna(0)
dataFrames[4]=dataFrames[4][dataFrames[4].Recomendation != 0]
dataFrames[4]

,Recomendation,"Computer science (software engineering, etc.)",Engineering (non-computer focused),Mathematics or statistics,"A business discipline (accounting, economics, finance, etc.)",Physics or astronomy,"Information technology, networking, or system administration","Medical or life sciences (biology, chemistry, medicine, etc.)",Other,"Social sciences (anthropology, psychology, sociology, etc.)","Humanities (history, literature, philosophy, etc.)",Environmental science or geology,I never declared a major,Fine arts or performing arts
0,Python,5990.0,2422.0,1591.0,952.0,794.0,620.0,544.0,454.0,292.0,155.0,162.0,70.0,46.0
1,SQL,247.0,150.0,135.0,161.0,34.0,50.0,22.0,36.0,37.0,14.0,7.0,4.0,8.0
2,R,538.0,311.0,590.0,290.0,84.0,87.0,133.0,95.0,113.0,39.0,38.0,7.0,8.0
3,Other,45.0,25.0,16.0,14.0,14.0,0.0,14.0,14.0,10.0,3.0,1.0,1.0,2.0
4,Scala,34.0,11.0,8.0,4.0,6.0,3.0,1.0,3.0,1.0,1.0,0.0,0.0,1.0
5,None,32.0,23.0,10.0,31.0,2.0,5.0,5.0,6.0,12.0,2.0,2.0,2.0,0.0
6,Java,110.0,16.0,14.0,5.0,5.0,11.0,7.0,6.0,3.0,1.0,1.0,1.0,4.0
7,MATLAB,112.0,57.0,32.0,11.0,8.0,12.0,6.0,9.0,2.0,3.0,2.0,0.0,0.0
8,C++,168.0,46.0,43.0,13.0,18.0,22.0,9.0,6.0,5.0,3.0,1.0,3.0,1.0
10,SAS,12.0,11.0,18.0,6.0,0.0,0.0,5.0,7.0,3.0,1.0,1.0,2.0,1.0
11,Javascript,37.0,5.0,5.0,5.0,4.0,2.0,3.0,5.0,3.0,2.0,0.0,0.0,1.0
12,Go,13.0,2.0,2.0,1.0,1.0,3.0,0.0,0.0,0.0,1.0,0.0,0.0,2.0
13,VBA,7.0,7.0,11.0,6.0,0.0,2.0,2.0,0.0,0.0,2.0,0.0,0.0,0.0

### Tabla 6: Lenguaje recomendado y años de experiencia

In [10]:
dataFrames[5]=dataFrames[5].fillna(0)
dataFrames[5]=dataFrames[5][dataFrames[5].Recomendation != 0]
dataFrames[5]

,Recomendation,0-1,1-2,2-3,5-10,3-4,10-15,4-5,15-20,20-25,30 +,25-30
0,Python,3628.0,2500.0,1629.0,1632.0,1111.0,953.0,954.0,527.0,247.0,115.0,102.0
1,SQL,197.0,158.0,144.0,132.0,66.0,51.0,68.0,26.0,14.0,8.0,11.0
2,R,549.0,317.0,266.0,296.0,206.0,195.0,178.0,108.0,51.0,27.0,24.0
3,Other,31.0,27.0,17.0,19.0,13.0,9.0,8.0,9.0,4.0,9.0,3.0
4,Scala,9.0,11.0,13.0,11.0,4.0,8.0,4.0,6.0,2.0,1.0,1.0
5,None,31.0,17.0,12.0,16.0,4.0,14.0,8.0,7.0,6.0,2.0,5.0
6,Java,60.0,16.0,17.0,23.0,16.0,13.0,9.0,8.0,2.0,1.0,3.0
7,MATLAB,52.0,45.0,24.0,36.0,23.0,20.0,19.0,14.0,8.0,2.0,2.0
8,C++,97.0,53.0,47.0,30.0,19.0,20.0,17.0,15.0,4.0,5.0,1.0
10,SAS,14.0,6.0,6.0,10.0,5.0,12.0,5.0,4.0,1.0,1.0,0.0
11,Javascript,10.0,12.0,5.0,12.0,12.0,8.0,1.0,1.0,2.0,1.0,4.0
12,Go,6.0,4.0,3.0,2.0,2.0,4.0,0.0,5.0,0.0,0.0,0.0
13,VBA,10.0,7.0,6.0,5.0,1.0,1.0,1.0,3.0,0.0,2.0,1.0

### Tabla 1: Lenguaje recomendado y compensación anual

In [11]:
dataFrames[6]=dataFrames[6].fillna(0)
dataFrames[6]=dataFrames[6][dataFrames[6].Recomendation != 0]
dataFrames[6]

,Recomendation,I do not wish to disclose my approximate yearly compensation,"0-10,000","10-20,000","20-30,000","30-40,000","40-50,000","50-60,000","100-125,000","60-70,000","70-80,000","90-100,000","125-150,000","80-90,000","150-200,000","200-250,000","250-300,000","500,000+","300-400,000","400-500,000"
0,Python,2777.0,2813.0,1300.0,930.0,750.0,649.0,609.0,562.0,513.0,461.0,388.0,375.0,359.0,314.0,126.0,51.0,31.0,34.0,14.0
1,SQL,147.0,119.0,73.0,64.0,58.0,46.0,58.0,66.0,40.0,48.0,34.0,36.0,34.0,23.0,8.0,1.0,1.0,2.0,0.0
2,R,413.0,377.0,213.0,168.0,144.0,137.0,126.0,100.0,90.0,95.0,68.0,65.0,66.0,56.0,13.0,12.0,6.0,5.0,2.0
3,Other,28.0,31.0,18.0,7.0,7.0,3.0,5.0,6.0,5.0,7.0,7.0,6.0,1.0,8.0,4.0,0.0,2.0,1.0,0.0
4,Scala,17.0,9.0,7.0,5.0,2.0,2.0,5.0,7.0,4.0,3.0,2.0,3.0,0.0,3.0,0.0,0.0,0.0,0.0,0.0
5,None,34.0,26.0,6.0,9.0,5.0,8.0,2.0,4.0,4.0,4.0,3.0,2.0,3.0,2.0,0.0,2.0,0.0,2.0,0.0
6,Java,46.0,41.0,22.0,14.0,4.0,2.0,7.0,10.0,1.0,6.0,1.0,3.0,0.0,1.0,1.0,1.0,0.0,0.0,0.0
7,MATLAB,69.0,73.0,15.0,19.0,6.0,18.0,9.0,5.0,4.0,3.0,3.0,2.0,4.0,2.0,2.0,0.0,0.0,0.0,0.0
8,C++,96.0,97.0,27.0,16.0,11.0,11.0,10.0,6.0,6.0,4.0,5.0,4.0,2.0,4.0,1.0,0.0,0.0,1.0,1.0
10,SAS,17.0,12.0,4.0,1.0,5.0,5.0,1.0,3.0,1.0,3.0,2.0,4.0,1.0,3.0,0.0,0.0,1.0,0.0,0.0
11,Javascript,22.0,23.0,5.0,5.0,2.0,1.0,1.0,2.0,1.0,0.0,3.0,1.0,1.0,0.0,0.0,1.0,0.0,0.0,1.0
12,Go,7.0,0.0,4.0,4.0,1.0,3.0,1.0,1.0,0.0,0.0,0.0,0.0,0.0,3.0,0.0,0.0,0.0,0.0,0.0
13,VBA,10.0,7.0,5.0,1.0,1.0,1.0,4.0,3.0,2.0,0.0,1.0,1.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0

### Tabla 1: Lenguaje recomendado y lenguaje predilecto

In [12]:
dataFrames[7]=dataFrames[7].fillna(0)
dataFrames[7]=dataFrames[7][dataFrames[7].Recomendation != 0]
dataFrames[7]

,Recomendation,Python,R,SQL,Java,C/C++,C#/.NET,Javascript/Typescript,MATLAB,SAS/STATA,PHP,Visual Basic/VBA,Other,Scala,Bash,Ruby,Go,Julia
0,Python,7161.0,828.0,682.0,686.0,582.0,346.0,333.0,236.0,122.0,139.0,80.0,84.0,78.0,43.0,46.0,32.0,6.0
1,SQL,230.0,112.0,318.0,20.0,8.0,12.0,14.0,5.0,18.0,6.0,11.0,3.0,4.0,3.0,3.0,0.0,0.0
2,R,386.0,1028.0,169.0,74.0,49.0,33.0,19.0,30.0,56.0,19.0,29.0,18.0,6.0,4.0,0.0,3.0,1.0
3,Other,49.0,14.0,3.0,6.0,4.0,4.0,6.0,5.0,3.0,2.0,0.0,8.0,2.0,4.0,1.0,0.0,3.0
4,Scala,21.0,3.0,5.0,10.0,3.0,4.0,2.0,1.0,0.0,0.0,0.0,0.0,11.0,0.0,1.0,0.0,0.0
5,None,12.0,6.0,7.0,11.0,5.0,2.0,2.0,4.0,2.0,0.0,2.0,2.0,0.0,1.0,0.0,0.0,0.0
6,Java,46.0,9.0,6.0,57.0,15.0,5.0,4.0,0.0,1.0,4.0,1.0,0.0,2.0,1.0,1.0,0.0,0.0
7,MATLAB,83.0,6.0,4.0,15.0,16.0,9.0,3.0,65.0,1.0,8.0,1.0,0.0,1.0,1.0,1.0,0.0,1.0
8,C++,152.0,23.0,2.0,13.0,52.0,11.0,2.0,9.0,3.0,4.0,3.0,0.0,2.0,2.0,0.0,1.0,0.0
10,SAS,7.0,7.0,6.0,0.0,2.0,3.0,0.0,0.0,21.0,0.0,1.0,2.0,0.0,0.0,0.0,0.0,0.0
11,Javascript,11.0,2.0,3.0,6.0,1.0,2.0,21.0,0.0,0.0,8.0,0.0,0.0,0.0,0.0,1.0,1.0,0.0
12,Go,7.0,0.0,2.0,2.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0,8.0,0.0
13,VBA,8.0,5.0,2.0,1.0,0.0,0.0,0.0,0.0,1.0,0.0,7.0,0.0,0.0,0.0,0.0,0.0,0.0

### Tabla 1: Lenguaje recomendado y percepción de ML

In [13]:
dataFrames[8]=dataFrames[8].fillna(0)
dataFrames[8]=dataFrames[8][dataFrames[8].Recomendation != 0]
dataFrames[8]

,Recomendation,I am confident that I can understand and explain the outputs of many but not all ML models,"I view ML models as ""black boxes"" but I am confident that experts are able to explain model outputs","Yes, most ML models are ""black boxes""",I am confident that I can explain the outputs of most if not all ML models,I do not know; I have no opinion on the matter
0,Python,4987.0,2271.0,1235.0,894.0,822.0
1,SQL,305.0,141.0,68.0,55.0,79.0
2,R,802.0,366.0,210.0,183.0,181.0
3,Other,49.0,21.0,17.0,13.0,14.0
4,Scala,14.0,9.0,8.0,7.0,5.0
5,None,17.0,6.0,4.0,0.0,5.0
6,Java,37.0,16.0,19.0,11.0,11.0
7,MATLAB,80.0,30.0,25.0,13.0,12.0
8,C++,83.0,52.0,25.0,25.0,22.0
10,SAS,12.0,8.0,10.0,2.0,6.0
11,Javascript,10.0,7.0,5.0,6.0,7.0
12,Go,6.0,3.0,3.0,0.0,3.0
13,VBA,8.0,4.0,6.0,3.0,5.0

In [18]:
train_data, test_data = sklearn.model_selection.train_test_split(data[['Q18','Q1','Q2','Q3','Q4','Q5','Q8','Q9','Q17','Q48']], train_size=0.7)

/home/nicomn97/.local/lib/python3.6/site-packages/sklearn/model_selection/_split.py:2069: FutureWarning: From version 0.21, test_size will always complement train_size unless both are specified.
  FutureWarning)

In [20]:
pr_area = 1.0
best_pr_area = 0.0
n_estimators = 100

while n_estimators<200 and (pr_area>=best_pr_area):
    n_splits = 6
    kfold = sklearn.model_selection.KFold(n_splits=n_splits)
    areas = np.zeros(n_splits)
    model_forest = sklearn.ensemble.RandomForestClassifier(n_estimators=n_estimators)
    i = 0 
    for train_index, test_index in kfold.split(train_data):
        model_forest.fit(train_data[preg].iloc[train_index], train_data.Q17.iloc[train_index])
        probas = model_forest.predict_proba(train_data[preg].iloc[test_index])
        precision, recall, _ = sklearn.metrics.precision_recall_curve(train_data.Q17.iloc[test_index], probas[:,1])
        ii = np.argsort(recall)
        areas[i] = scipy.integrate.trapz(precision[ii], recall[ii])
        i+=1
        
    pr_area = areas.mean()
    print(n_estimators, pr_area, best_pr_area)
    if pr_area > best_pr_area:
        best_pr_area = pr_area
        n_estimators += 1
    
    
print(n_estimators)

ValueError: could not convert string to float: 'Yes, most ML models are "black boxes"'